@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --default-700: 216deg 28% 24%;
    --default-800: 216deg 28% 14%;
    --default-900: 216deg 28% 7%;
    --default: 216deg 43% 4%;

    --foreground: 216deg 4% 83%;
    --foreground-light: 0deg 0% 100%;
    --foreground-dark: 216deg 4% 60%;

    --primary: 216deg 93% 53%;
    --primary-light: 216deg 93% 46%;

    --danger: 360deg 97% 61%;
    --danger-light: 360deg 97% 66%;

    --success: 136deg 74% 33%;
    --success-light: 136deg 67% 41%;

    --border: 216deg 20% 20%;
  }

  * {
    @apply text-foreground;
  }

  body {
    @apply min-h-screen;
  }

  h1 {
    @apply text-5xl font-semibold text-foreground-light mb-2;
  }

  h2 {
    @apply text-3xl font-semibold text-foreground-light mb-1.5;
  }

  h3 {
    @apply text-2xl font-semibold text-foreground-light mb-1.5;
  }

  h4 {
    @apply text-xl text-foreground-light;
  }

  @layer utilities {
    .link {
      @apply text-primary hover:underline;
    }
  }
}
